* {
    font-family: 'Noto Serif', serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 1px;
}


header { 
    text-align: center;
    background: navy;
    padding: 10px;
    color: pink;
}


.grid-wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 500px;
    width: 500px;
    box-shadow: 0 0 20px 0 pink;
}

.grid div {
    border: 1px solid lightgrey;
    width: 10%;
    height: 10%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid div.blossom {
    background-image: url('../assets/blossom.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}


.grid div.mojo {
    background-image: url('../assets/images.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}